$font-text: "Core Sans C", system-ui;
$font-size-input: 18px;
$font-weight-regular: 400;
$font-weight-bold: 700;

$black: #333131;
$white: #FFFFFF;
$red: #ff3b30;
$skin: #fbe9cf;
$blue: #bbddec;
$grey: #999999;
